@model IEnumerable<WebSuperZapatos.Models.Stores>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Tiendas</h2>

<p>
    <a type="button" class="btn btn-primary btn-lg" href="@Url.Action("Create","Stores")"> <i class="fas fa-plus-circle"></i>Agregar</a>
</p>
<div class="row">
    <div class="col-lg-8">
        <table class="table table-bordered table-md table-responsive">
            <thead>
                <tr>
                    <th scope="col"> @Html.DisplayNameFor(model => model.Name)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.address)</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    using (Html.BeginForm("Delete", "Stores", new { id = item.StoreID }))
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.Name)</td>
                            <td> @Html.DisplayFor(modelItem => item.address)</td>

                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <a href="@Url.Action("Edit", "Stores", new { id = item.StoreID })" title="Edit"><span style="color:darkorange;" class="fa fa-edit fa-2x"></span></a>
                                    <button type="submit" class="btn btn-danger" value="Delete" onclick="return confirm('Esta seguro que desea eliminar la tienda @item.Name');">
                                        X
                                    </button>

                                </div>


                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-4">

    </div>

</div>
