@model IEnumerable<WebSuperZapatos.Models.Articles>

@{
    ViewBag.Title = "View";
}

<h2>Lista de Artículos</h2>

<p>
    <a type="button" class="btn btn-primary btn-lg" href="@Url.Action("Create","Articles")"> <i class="fas fa-plus-circle"></i>Agregar</a>
</p>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered table-md table-responsive">
            <thead>
                <tr>
                    <th scope="col"> @Html.DisplayNameFor(model => model.Stores.Name)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Description)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Price)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Total_in_shelf)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Total_in_vault)</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    using (Html.BeginForm("Delete", "Articles", new { id = item.ArticleID }))
                    {
                <tr>
                    <td> @Html.DisplayFor(modelItem => item.Stores.Name)</td>
                    <td> @Html.DisplayFor(modelItem => item.Name)</td>
                    <td> @Html.DisplayFor(modelItem => item.Description)</td>
                    <td> @Html.DisplayFor(modelItem => item.Price)</td>
                    <td> @Html.DisplayFor(modelItem => item.Total_in_shelf)</td>
                    <td> @Html.DisplayFor(modelItem => item.Total_in_vault)</td>

                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a href="@Url.Action("Edit", "Articles", new { id = item.ArticleID })" title="Edit"><span style="color:darkorange;" class="fa fa-edit fa-2x"></span></a>
                            <a href="@Url.Action("Details", "Articles", new { id = item.ArticleID })" title="Edit"><span class="fa fa-eye fa-2x"></span></a>
                            <button type="submit" class="btn btn-danger" value="Delete" onclick="return confirm('Estas seguro que desea eliminar el artículo @item.Name');">
                                X
                            </button>

                        </div>


                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
   

    </div>

</div>
